/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/docker/target/
/scala-2.11/
/streams/
/resolution-cache/
/.settings/
/.project
/activator*
project/build.properties
*.log
.idea/
/docker/project/
/docker/target/
.DS_Store/
.DS_Store
.ensime*
ensime.sbt
